# Python
__pycache__/
*.py[codz]
*$py.class
*.so

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# Jupyter
.ipynb_checkpoints

# Environment variables
.env
.envrc

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Project data
Data/

# Temporary files
tempCodeRunnerFile.py

# Model/cache files
*.pyc


Data/